html, body {
    margin: 0;
    overflow: hidden;
}

main, iframe {
    background: black;
    /* max-height: 100vh; */
    /* width: 100vw; */
    /* margin: auto; */
}

#desktop {
    display: none;
}

#mobile {
    display: none;
}

@media (orientation: portrait) {
    #mobile {
        display: block;
    }
}

@media (orientation: landscape) {
    #desktop {
        display: block;
        max-height: 100vh;
        width: 100vw;
    }
}