html, body {
    margin: 0;
    overflow: hidden;
}

main, iframe {
    background: #ee0303;
    max-height: 100vh;
    width: 100vw;
}

#desktop {
    display: none;
}

#mobile {
    display: none;
}

@media (orientation: portrait) {
    #mobile {
        display: block;
    }
}

@media (orientation: landscape) {
    #desktop {
        display: block;
    }
}